@model IEnumerable<CafeApp.DomainEntity.Table>

@{
    Layout = "~/Views/Shared/Cashier_Layout.cshtml";
}

<h2>Table</h2>
<hr />
<head>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
</head>

<style>
    .flex-container {
        float: left;
        display: flex;
        width: 320px;
        border: 1px solid black;
        padding: 15px;
        margin: 25px;
        text-align: center;
        font-size: 20px;
        height: 270px;
    }

    .flex-container1 {
        float: left;
        display: flex;
        width: 320px;
        border: 1px solid black;
        padding: 15px;
        margin: 25px;
        text-align: center;
        font-size: 20px;
        height: 270px;
    }

    dt {
        margin-left: 35px;
    }
</style>

@using (Html.BeginForm())
{
    foreach (var item in Model)
    {
        if (item.TableStatus == CafeApp.DomainEntity.TableStatus.Empty)
        {
            <div class="flex-container">
                <dl>
                    <dt>
                        <img src="~/Images/Table1.png" />
                    </dt>
                    <dt>
                        T[@item.TableNo] (@Html.DisplayFor(modelItem => item.User.Username))
                    </dt>
                    <dt>
                        @item.TableStatus
                    </dt>
                </dl>
            </div>
        }
        else
        {
            <div class="flex-container">
                <dl>
                    <dt>
                        <img src="~/Images/output-onlinepngtools.png" />
                    </dt>
                    <dt>
                        T[@item.TableNo]
                    </dt>
                    <dt>
                        @item.TableStatus
                    </dt>
                    <dt class="fas fa-utensils">

                    </dt>
                </dl>
            </div>
        }
    }
}


